body {
	background-image: url('/images/circuit-lines-vector.jpg'); 
}

#login, #addAdmin {
	position: relative;
	top: 200px;
}

#login_table, #addAdmin-table{
	margin: auto;
	width: 400px;
	height: 300px;
	background: lightgoldenrodyellow;
	border: solid;
	border-width: 4px;
	border-color: #000;
	box-shadow: 1px 1px 4px #888888;
}

#login-title, #addAdmin-title {
	background: #FFBD00 url('/images/bg1.png') no-repeat scroll center top;
	font-weight: bold;
	text-align: center;
	padding: 8px;
	border:1px dashed #888;
	height:30px;
}

#user_name, #password {

}


#footer{
	text-align: center;
	font-size: 14px;
}

#app_key {
	padding-left:20px;
}

.text_info {
	padding: 0 0 0 20px;
}

.text_block {
}

