@import url("navbar.css");
@import url("trans.css");

/* Main Layout Styles */
body {
	background-color: #e0e0e0;
	height: 100%;
	width: 800px;
	margin: 20px auto;
	font-family: "Segoe UI", "MS Reference Sans Serif", Verdana, sans-seri;
}
#main  {
	box-shadow: 0 0 4px #888888;
	background-color: #fff;
	padding:3px; margin: 0;
}
#top {
	background: #fff url('/images/bg1.png') repeat-y;
	margin: 0 auto;
	padding: 20px;
}
#site-title {
	font-weight: bold;
	text-shadow: 1px 1px 10px #4a4a4a;
}
#body{
	background-color:#fff;
	font-size: 13px;
	padding: 24px 24px 24px 24px;
	height: 100%;
	min-height: 200px;
	box-shadow: 1px 1px 4px #888888;
}

/** Nav Bar 1 */

#navbar1 {
	font-size: 14px;
	background-color:#000;	
	color:#fff; 
	box-shadow: 0 0 4px #888888;
	background: -webkit-linear-gradient(#6c6c6c, #202020);
    background: -o-linear-gradient(#6c6c6c, #878787);
    background: -moz-linear-gradient(#6c6c6c, #202020); 
    background: linear-gradient(#6c6c6c, #202020);
}
a.navbar1-link:link , a.navbar1-link:visited { color: #fff; text-decoration: none; display:block;   padding: 8px 12px;}

/** Nav Bar 2 */
#navbar2 { 
	background-color: #f7f7ee;
	margin-top: 20px;
	padding: 8px;
	box-shadow: 0 0 4px #888888;
	font-size: 12px;
	font-weight: bold;
}
a.navbar2-links, a.navbar2-links:visited { margin:0 12px; color: #3c6c91;   }

/* TABLE */
.profile-table {

}

.user-label {
	padding: 0 8px 4px 0;
	vertical-align: top;
}

.user-data {
	vertical-align: top;
}

td.underline {
	text-decoration: underline;
}

/* Links */
a:link { color: #3c6c91; text-decoration: none; }
a:visited { color: #3c6c91; text-decoration: none; }
a:hover, a:active { color: #3c6c91; text-decoration: none; text-shadow: 1px 1px 10px #6c9ec4; }

/* Inputs */
input, select { 
	background: #fff; 
	font-size:1.0em; 
	border:1px solid #c5c5c5;  
	padding:3px; 
	font-family: Calibri;
}
input.submit { 
	background: #000; 
	padding:2px; 
	border:1px solid #6c6c6c;
	color:#262626;
	background: -moz-linear-gradient(#6c6c6c, #202020); 
	background: -moz-linear-gradient(#fff, #ccc);
	background: -webkit-linear-gradient(#fff, #ccc);
	background: -o-linear-gradient(#fff, #ccc);
	background: linear-gradient(#fff, #ccc);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
textarea {  background: #fff; font-size:1.2em; border:1px solid #c5c5c5;  padding:3px; }

input.error-input {
	border:1px solid red;
}

/** Basic Style **/
.float-left { float:left; }
.float-right { float:right; }
.hidden { visibility:hidden; display:none; }
.clear { clear : both; } 
.shrink { display:inline-block; }

/* Texts */
.warning-message { color: #d7a100; }
.good-message { color: green; }
.error-message { color: red; }

/* Other Stuff */
*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

ul.message {
	margin-left:-38px;"
}

.list-message {
	font-size: 12px;
	
}

td.submitinfo {
	text-align: right;
	padding-top: 10px;
}

.copyright {
	margin-top:16px;
	font-size:11px;
	text-align: center;
}

/* Tabs */

.admin-tab {
	text-align:center;
	float:left;
	margin: 0 30px 0 30px;
	padding-left:5px;

}

.admin-tab-box  {
	background-color: #f1f1f5;
	border:1px solid #d7d7d7;
	width:120px;
	height:120px;
	box-shadow: 1px 1px 4px #d7d7d7;
	width:120px; height:120px;
}


.officehour-tab {
	background-color:#f1f1f5;
	border: 1px solid #d7d7d7;
	padding:12px; margin: 0px 0px 0px 0px;
	box-shadow: 1px 1px 4px #d7d7d7;
}
.officehour-tab-title {
	background-color:#f1f1f5;	
	padding:16px; color:#000; 
	text-align: center;
}
.officehour-tab-content {
	background-color:#f1f1f5;
	padding:8px 8px;
	font-size: 13px;
}
